@mixin focus {
	border-color: #80acff;
	box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.25rem #528eff;
	outline: 0;
}

body {
	background-color: #fff;
	font-family: 'Source Sans Pro';
	font-size: 14px;
}

.portlet-layout {
	margin: auto;
}

.portlet-login {
	background-color: #fff;
	border-color: #ddd #ddd #d8d8d8;
	box-shadow: 0 2px 0 hsla(0, 0%, 68.6%, 0.12);
	margin: 1rem 0;
	padding: 2rem;

	&.login-screen {
		.control-label:after {
			color: #da1414;
			content: '*';
			display: inline-block;
		}
	}

	&:not(&.create_account-screen) {
		margin: 15vh auto;
		max-width: 380px;
	}

	a {
		color: #0b5fff;
	}

	.panel-body {
		padding: 0;
	}

	.secondary-info {
		margin-bottom: 1rem;

		> span {
			font-weight: 600;
		}
	}

	.sign-in-heading {
		font-size: 1.5em;
		font-weight: 600;
		padding: 1rem 0;
	}

	.form-control {
		background-color: #f1f2f5;
		border: 1px solid #e7e7ed;
		font-size: 0.875rem;
		height: 2.5rem;
		line-height: 1.5rem;
		padding-bottom: 0.4375rem 1rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		width: 100%;

		&:focus {
			@include focus;
		}

		&.error-field {
			background-color: #feefef;
			border-color: #f48989;
			box-shadow: 0 0 rgba(0, 0, 0, 0);
			color: #272833;

			&:focus {
				@include focus;
			}
		}
	}

	.control-label {
		font-weight: 600;
		word-wrap: break-word;
	}

	.btn-primary {
		background: #0b5fff;
		width: 100%;

		&:focus {
			@include focus;
		}
	}

	.navigation li {
		width: 100%;

		&:first-child {
			margin-bottom: 1rem;

			a {
				background-color: #fff;
				border: 1px solid #88889a;
				color: #6b6c7e;

				&:hover {
					background-color: #f7f8f9;
					border-color: #88889a;
					color: #272833;
					text-decoration: none !important;
				}
				span,
				span:hover {
					text-decoration: none !important;
				}
			}
		}

		a {
			display: block;
			text-align: center;
		}
	}

	.btn,
	.navigation li a {
		border-radius: 0.25rem;
		font-size: 0.875rem;
		font-weight: 600;
		padding: 0.4375rem 0.75rem;

		&:focus {
			@include focus;
		}
	}

	.alert-danger {
		background-color: #feefef;
		border-color: #f48989;
		color: #da1414;
	}

	.alert-indicator {
		font-size: 1rem;
		line-height: 1;
		vertical-align: 0;

		+ .lead {
			font-size: 0.875rem;
			font-weight: 600;
		}
	}

	.reference-mark {
		color: #da1414 !important;
		font-size: 5px;
	}
}
