@import 'atlas-variables';

.chart-tooltip-area {
	background-color: $dark-d2;
	border: 1px solid;
	border-radius: 8px;
	color: white;
	padding: 10px;
}

.chart-tooltip-label {
	font-size: 14px;
	font-weight: bold;
}

.chart-tooltip-value {
	font-size: 12px;
}
