<div class="component-dropdown">
	<div class="dropdown-fragment">
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-${configuration.buttonSize} dropdown-fragment-toggle" id="dropdown-fragment-${fragmentEntryLinkNamespace}" type="button">
			<span data-lfr-editable-id="dropdown-text" data-lfr-editable-type="text">Dropdown</span>
			<span class="inline-item inline-item-after">
				<svg class="menu-dropdown-caret" fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.17044 6.53604L7.58894 10.1013C7.81544 10.3362 8.18456 10.3362 8.41106 10.1013L11.8296 6.53604C12.1945 6.15434 11.9344 5.5 11.4185 5.5H4.5815C4.06557 5.50419 3.80552 6.15434 4.17044 6.53604V6.53604Z" fill="currentColor" />
				</svg>
			</span>
		</button>

		<div aria-labelledby="dropdown-fragment" class="dropdown-fragment-menu p-1">
			<lfr-drop-zone data-lfr-drop-zone-id="1"></lfr-drop-zone>
		</div>
	</div>
</div>