.dsr-container-logo {
	align-items: center;
	background-color: var(--gray-200, #F1F2F5);
	border-radius: 50%;
	display: flex;
	height: 100px;
	justify-content: center;
	width: 100px;
}

.dsr-container-logo.dsr-secondary-logo {
	margin-right: -2rem;
}

.dsr-container-logos {
	bottom: -50px;
	display:flex;
	position:absolute;
	right: 1.75rem;
}

#dsr-header-main {
	background-color: var(--white);
}

.dsr-header-banner {
	align-items: center;
	background-color: var(--gray-200);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: flex;
	height: 15rem;
	justify-content: center;
	position:relative;
}

.dsr-header-banner h1 {
	bottom: 1.75rem;
	color: var(--white, #FFF);
	font-size: 2rem;
	font-weight: 400;
	left: 1.75rem;
	max-width: 80%;
	position: absolute;
}

.dsr-logo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	z-index: 2;
}

.dsr-logo-background {
	background-color: var(--white, #FFF);
	bottom: 0;
	height: 50%;
	position: absolute;
	width: 100%;
}