{{- $env := index .context "apiextensions.crossplane.io/environment" -}}
{{- $xr := .observed.composite.resource -}}

{{- $backup := $xr.spec.backup | default dict -}}
{{- $cmkEnabled := $xr.spec.cmk.enabled | default false -}}
{{- $commonTags := $xr.spec.commonTags | default dict -}}
{{- $databaseInstanceName := printf "%s-db-instance" $xr.metadata.name -}}
{{- $databaseName := $xr.spec.database.name | default "lportal" -}}
{{- $databasePort := "5432" -}}
{{- $databaseSpec := $xr.spec.database -}}
{{- $deletionProtection := $xr.spec.deletionProtection | default false -}}
{{- $environmentId := $xr.spec.environmentId -}}
{{- $forceDestroy := $xr.spec.forceDestroy | default false -}}
{{- $gsaName := printf "%s-sa" $xr.metadata.name -}}
{{- $jobName := printf "%s-db-grant" $xr.metadata.name -}}
{{- $managementPoliciesOnce := (list "Create" "Observe" "Delete") | toJson -}}
{{- $namespace := $xr.metadata.namespace -}}
{{- $overlay := $xr.spec.overlay | default dict -}}
{{- $projectId := $xr.spec.projectId -}}
{{- $storage := $xr.spec.storage | default dict -}}

{{- $databaseIamUser := printf "%s@%s.iam" $gsaName $env.projectId -}}
{{- $gsaEmail := printf "%s@%s.iam.gserviceaccount.com" $gsaName $env.projectId -}}
{{- $hash := printf "%s-%s" $databaseName $env.projectId | sha256sum | trunc 7 -}}
{{- $labels := merge $commonTags (dict "app" "liferay" "environment-id" $environmentId "project-id" $projectId) -}}
{{- $backupTargetLabels := merge (dict) $labels (dict "active" "true" "should-back-up" "true") -}}
{{- $managementPolicies := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe" "Update") (list "*") | toJson -}}
{{- $managementPoliciesNoUpdate := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe") (list "Create" "Delete" "Observe") | toJson -}}
{{- $projectIdFull := printf "%s-%s" $projectId $environmentId -}}
{{- $region := $databaseSpec.region | default $xr.spec.region -}}
{{- $uidHash := printf "%s-%s" $env.projectNumber $projectIdFull | sha256sum | trunc 6 -}}

{{- $baseName := printf "%.18s-%s" $projectIdFull $uidHash -}}

{{- $cmkKeyName := printf "projects/%s/locations/%s/keyRings/%s-keyring/cryptoKeys/%s-key" $env.projectId $region $baseName $baseName -}}
{{- $instanceConnectionName := printf "%s:%s:%s" $env.projectId $region $databaseInstanceName -}}
