.latest-activity-container {
	min-height: 200px;

	.latest-activity-fds {
		.table-responsive {
			overflow-x: hidden;
		}

		tbody td:last-child,
		thead th:last-child {
			display: none;
		}

		.sticker {
			font-size: 1rem;
			height: 2.25rem;
			width: 2.25rem;
		}

		thead th {
			height: 2.5rem;
		}
	}
}
