.most-active-visitors-container {
	min-height: 200px;

	.most-active-visitors-fds {
		.email-text {
			font-size: 0.75rem;
		}

		.sticker {
			font-size: 1.5rem;
			height: 4rem;
			width: 4rem;
		}

		.sticker-img {
			max-width: 120%;
		}

		.visitors-full-name {
			font-size: 1rem;
		}

		thead {
			display: none;
		}
	}
}
