<div class="navigation-bar">
	<lfr-drop-zone data-lfr-drop-zone-id="navigationBar"></lfr-drop-zone>
</div>

<div class="open sidebar-fragment">
	<nav aria-label="${configuration.sidebarAriaLabel}" class="sidebar-container">
		<div class="sidebar sidebar-light">
			<div class="px-0 sidebar-body">
				<lfr-drop-zone data-lfr-drop-zone-id="sidebarBody"></lfr-drop-zone>
			</div>
		</div>
	</nav>

	<div class="content">
		<lfr-drop-zone data-lfr-drop-zone-id="content"></lfr-drop-zone>
	</div>
</div>