.recipe-card {
	align-items: flex-start;
	background: var(--color-brand-primary-lighten-6, #FBFCFE);
	border: 1px solid var(--color-brand-primary-lighten-5, #E7EFFF);
	border-radius: 0.75rem;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	isolation: isolate;
	justify-content: space-between;
	order: 0;
	padding: 1rem;
	width: 100%;
}

.recipe-card:hover {
	background: var(--color-action-primary-hover-10, #EDF3FE);
	border: 1px solid var(--color-action-primary-hover, #0053F0);
	border-radius: 0.625rem;
}

.recipe-card-date-published {
	align-items: center;
	align-self: stretch;
	color: var(--color-neutral-8, #54555F);
	display: flex;
	flex: none;
	flex-grow: 0;
	font-family: 'Source Sans 3';
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1rem;
	order: 3;
}

.recipe-card-description {
	align-items: center;
	align-self: stretch;
	color: var(--color-neutral-10, #282934);
	display: flex;
	flex: none;
	flex-grow: 0;
	font-family: 'Source Sans 3';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	order: 2;
}

.recipe-card-header {
	align-items: center;
	align-self: stretch;
	color: var(--color-brand-primary, #0B5FFF);
	display: flex;
	flex: none;
	flex-grow: 0;
	font-family: 'Source Sans 3';
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5rem;
	order: 1;
}

.recipes-cards-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 100%;
}

.recipes-container {
	align-items: flex-start;
	align-self: stretch;
	background: var(--color-neutral-1, #F7F7F8);
	border-radius: 0.75rem;
	display: flex;
	flex: none;
	flex-direction: column;
	flex-grow: 0;
	gap: 1.5rem;
	isolation: isolate;
	margin: 1.5rem 0px;
	order: 0;
	padding: 1.5rem;
	width: 100%;
}

.recipes-container-header {
	align-items: center;
	color: var(--color-neutral-10, #282934);
	display: flex;
	flex: none;
	flex-grow: 0;
	font-family: 'Source Sans 3';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.75rem;
}

@media only screen and (max-width: 1200px) {
	.recipes-cards-container {
		flex-direction: column;
	}
}