<nav class="component-tbar tbar">
	<div class="container-fluid container-fluid-max-xxxl">
		<ul class="tbar-nav">
			<li class="tbar-item">
				<button aria-expanded="true" aria-pressed="true" class="btn btn-monospaced btn-outline-borderless btn-secondary btn-sm lfr-portal-tooltip sidebar-toggle" data-titleclose="${languageUtil.get(locale, 'close-sidebar')}" data-titleopen="${languageUtil.get(locale, 'open-sidebar')}" disabled title="${languageUtil.get(locale, 'close-sidebar')}" type="button">
					<span class="inline-item">
						[@clay["icon"] symbol="product-menu-open" /]
					</span>
					<span class="hide inline-item">
						[@clay["icon"] symbol="product-menu-closed" /]
					</span>
				</button>
			</li>
			<li class="tbar-item">
				<img alt="${configuration.alt}" data-lfr-editable-id="sidebarImage" data-lfr-editable-type="image" height="24" src="/image/company_logo" />
			</li>
			<li class="tbar-item">
				<div class="tbar-section">
					<div class="component-title middle" data-lfr-editable-id="sidebarTitle" data-lfr-editable-type="text">
						Liferay CMS
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>