<section class="trial-step trial-step--${layoutMode}" data-panel-id="${configuration.stepNumber}"
	data-layout-mode="${layoutMode}">
	<header class="trial-step__header">
		<div class="trial-step__header-left">
			<div class="trial-step__step trial-step__step--incomplete bg-brand-primary-darken-1 is-hidden animate__animated animate__fadeIn">
				<span class="trial-step__field bg-brand-primary-darken-1" data-field="stepNumber">1</span>
			</div>

			<div aria-hidden="true" class="trial-step__step trial-step__step--complete is-hidden animate__animated animate__fadeIn">
				<img alt="" src="[resources:check.svg]" />
			</div>

			<h4 class="trial-step__title text-neutral-9">
				<span class="trial-step__field" data-field="title"></span>
			</h4>
		</div>

		<div class="trial-step__header-right">
			<button class="trial-step__btn mark-as-incomplete is-hidden animate__animated animate__fadeIn" data-action="mark-incomplete" type="button">
				Mark as Incomplete

				<img alt="" class="trial-step__spinner spinner is-hidden" data-role="spinner-incomplete" src="[resources:loading.svg]" />
			</button>

			<button class="trial-step__btn mark-as-complete is-hidden animate__animated animate__fadeIn" data-action="mark-complete" type="button">
				Mark as Complete

				<img alt="" class="trial-step__spinner spinner is-hidden" data-role="spinner-complete" src="[resources:loading.svg]" />
			</button>

			<p class="trial-step__meta text-neutral-9">
				<span class="trial-step__field" data-field="timeToComplete"></span>
			</p>

			<button aria-expanded="false" class="trial-step__toggle" data-action="toggle" type="button">
				<span class="trial-step__arrow trial-step__arrow--collapse" aria-hidden="true">^</span>
				<span class="sr-only">Toggle section</span>
			</button>
		</div>
	</header>

	<div class="trial-step__body">
		<div class="trial-step__body-inner">
			<lfr-drop-zone></lfr-drop-zone>

			<a class="btn btn-nm btn-primary trial-step__cta" href="#" target="_self">
				<span class="trial-step__field" data-field="ctaText">Start Guide</span>
			</a>
		</div>
	</div>
</section>