[#assign
	normalizer = serviceLocator.findService("com.liferay.portal.kernel.util.FriendlyURLNormalizerUtil")]

[#assign
	browserSniffer1 = serviceLocator.findService("com.liferay.portal.kernel.servlet.BrowserSnifferUtil")
/]

[#assign
	browserSniffer2 = serviceLocator.findService("com.liferay.portal.kernel.servlet.BrowserSnifferUtil")]

[#assign
	browserSniffer3 = serviceLocator.findService("com.liferay.portal.kernel.servlet.BrowserSnifferUtil")
	variable = "variable"
	assetEntryLocalService = serviceLocator.findService("com.liferay.asset.kernel.service.AssetEntryLocalService")
/]

[#assign
	browserSniffer4 = serviceLocator.findService("com.liferay.portal.kernel.servlet.BrowserSnifferUtil")
	variable = "variable"
	assetEntryLocalService = serviceLocator.findService("com.liferay.asset.kernel.service.AssetEntryLocalService")]

${browserSniffer1}
${browserSniffer2}
${browserSniffer3}
${browserSniffer4}