.individual-profile-card-root {
	.individuals-activities-chart {
		padding: 0 $listPadding;

		.analytics-tooltip-chart-row {
			.informative-text {
				color: $info;
				margin-top: 24px;
			}
		}
	}

	.selected-info {
		color: $mainLighten28;
		margin-bottom: 8px;

		> .button-root {
			font-size: $fontSizeSmall;
			margin-left: 8px;
			padding: 0;
		}

		.h4,
		h4 {
			line-height: 32px;
		}

		.details {
			font-size: $fontSizeSmall;

			> b {
				color: $main;
				font-weight: $fontWeightBold;
				line-height: 24px;
			}
		}

		.events-count-circle {
			background-color: $chartBlue;
			border-radius: 50%;
			display: inline-block;
			height: 8px;
			width: 8px;
		}
	}
}
