.card-section {
	.lexicon-icon.lexicon-icon-question-circle-full {
		color: $mainLighten52;

		&:hover {
			color: $secondary;
		}
	}
}

.membership-metrics-root {
	.card.card-root {
		.type-trend-root {
			border-left: 1px solid $mainLighten74;
		}
	}
}
