.no-results {
	&-root {
		align-items: center;
		color: $mainLighten28;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		position: relative;
		text-align: center;

		&.display-card {
			background-color: $white;
			border: 1px solid $cadmin-secondary-l3;
			border-radius: 8px;
			height: 70vh;
			margin-top: 24px;
		}

		.dropdown-root {
			.dropdown-toggle {
				text-align: center;
			}
		}
	}

	&-primary {
		color: $main;
	}

	&-icon {
		color: $mainLighten52;
		margin-bottom: 24px;

		&-border {
			background-color: $lightBackground;
			border-radius: 16px;
			padding: 48px 40px;
		}
	}

	&-content {
		max-width: 344px;

		&.spacer {
			margin: 80px 0;
		}
	}

	&-title {
		color: $main;
		font-size: $fontSizeLarge;
		font-weight: $fontWeightSemiBold;
		margin-bottom: 16px;
	}

	&-description {
		color: $mainLighten28;
		font-size: $fontSizeMedium;
		margin-bottom: 16px;
	}

	&-description,
	&-title {
		line-height: 1.5;
	}
}

// Utility class for vertically centering the no results block on a parent.

.no-results-center {
	align-items: center;
	display: flex;
}
