@use '../index.scss';

.activation-key-form {
	&-aggreements-text {
		font-size: 11px;
		text-align: justify;
	}

	&-aggreements-check-box,
	&-label-check-box,
	&-purpose-helper-text {
		font-size: 11px;
	}

	&-fail {
		border: solid 1px red !important;
	}

	&-select-input {
		height: 40px;
	}

	&-textarea {
		height: 100px;

		&:focus {
			outline: #cccccc !important;
		}
	}

	&-terms-and-conditions-text {
		font-size: 12px !important;
		font-weight: 400;
		line-height: 16px;
	}

	.loading-animation {
		margin: 0px !important;
	}
}
