.adt-navigation {
	display: flex;
	flex-wrap: inherit;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.adt-nav-item {
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	margin-left: 1rem;
	outline: 0 solid transparent;
}

.adt-nav-item .adt-nav-text {
	background-color: transparent;
	position: relative;
	text-decoration: none;
	transition-duration: 0.2s, 0.2s;
	transition-property: color, background-color;
	transition-timing-function: ease, ease;
}

.adt-nav-item .adt-nav-text .adt-nav-title {
	color: var(--color-neutral-8);
}

.adt-nav-item .adt-nav-text .adt-nav-caret-bottom-icon {
	padding-right: 0.625rem;
}

.adt-nav-item .adt-nav-text .adt-nav-caret-bottom-icon {
	color: transparent;
}

.adt-nav-item .adt-nav-text:focus {
	background-color: var(--color-action-primary-hover-lighten);
}

.adt-nav-item:hover, .adt-nav-item:focus {
	text-decoration: none;
}

.adt-nav-item:hover .adt-nav-text, .adt-nav-item:focus .adt-nav-text {
	background-color: var(--color-action-primary-hover-lighten);
}

.adt-nav-item:hover .adt-nav-text .adt-nav-title,
.adt-nav-item:focus .adt-nav-text .adt-nav-title {
	color: var(--color-action-primary-hover, #0053f0);
}

.adt-nav-item:hover .adt-nav-caret-bottom-icon,
.adt-nav-item:focus .adt-nav-caret-bottom-icon {
	color: var(--color-action-primary-hover, #0053f0);
}

.adt-nav-item .adt-nav-text:focus {
	outline: none;
}

.adt-nav-item.dropdown-open:hover .adt-nav-caret-bottom-icon,
.adt-nav-item.dropdown-open:focus .adt-nav-caret-bottom-icon {
	opacity: 1;
}

.adt-nav-item.dropdown-open .adt-nav-caret-bottom-icon {
	color: var(--color-action-primary-hover, #0053f0);
	opacity: 0.5;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.adt-nav-item.dropdown-open .adt-nav-text {
	border-radius: var(--border-radius-xs);
}

.adt-nav-item.dropdown-open .adt-nav-text .adt-nav-title {
	color: var(--color-action-primary-hover, #0053f0);
}

.adt-nav-item.dropdown-open .adt-submenu {
	max-height: 80vh;
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.adt-nav-item .adt-submenu {
	background-clip: padding-box;
	background-color: var(--white);
	border-color: var(--hr-border-color);
	border-style: solid;
	border-width: 0;
	display: block;
	left: 0;
	list-style: none;
	margin: 0.5rem 0 0;
	max-height: 80vh;
	max-width: none;
	min-height: auto;
	opacity: 0;
	overflow: auto;
	padding: 1rem 4rem 4.5rem;
	position: absolute;
	right: 0;
	transform: translateY(-100px);
	transition:
		transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 0.1s linear,
		visibility 0.3s linear;
	visibility: hidden;
	z-index: -1;
}

.adt-nav-item .adt-submenu .adt-submenu-outer-wrapper {
	width: 100%;
}

.adt-nav-item
	.adt-submenu
	.adt-submenu-outer-wrapper
	.adt-submenu-inner-wrapper {
		display: grid;
		grid-column-gap: 4rem;
		grid-row-gap: 2.5rem;
		grid-template-columns: repeat(12, 1fr);
		margin: 0 auto;
		max-width: var(--container-max-lg);
		width: 100%;
}

.adt-nav-item .adt-submenu-header {
	-ms-grid-row: span 1;
	-ms-grid-row-span: 1;
	border-bottom: 1px solid var(--color-neutral-2);
	grid-row-end: span 1;
	grid-row-start: span 1;
	list-style: none;
	margin-bottom: -1rem;
	padding-bottom: 0.5rem;
}

.adt-nav-item .adt-submenu-item-content {
	display: flex;
	list-style: none;
	max-width: 274px;
}

.adt-nav-item .adt-submenu-item-content.image-type {
	max-width: none;
}

.adt-nav-item .adt-submenu-item-content .adt-submenu-item-link {
	color: var(--color-neutral-10, #282934);
	display: flex;
	transition:
		box-shadow 0.1s linear,
		background-color 0.1s linear;
	user-select: none;
}

.adt-nav-item .adt-submenu-item-content .adt-submenu-item-link:hover,
.adt-nav-item .adt-submenu-item-content .adt-submenu-item-link:focus {
	background-color: var(--color-action-primary-hover-lighten);
	border-radius: var(--border-radius-xs);
	box-shadow: 0 0 0 8px var(--color-action-primary-hover-lighten);
	outline: none;
	text-decoration: none;
}

.adt-nav-item
	.adt-submenu-item-content
	.adt-submenu-item-link:hover
	.adt-submenu-item-title,
.adt-nav-item
	.adt-submenu-item-content
	.adt-submenu-item-link:focus
	.adt-submenu-item-title {
		color: var(--color-action-primary-hover, #0053f0);
}

.adt-nav-item
	.adt-submenu-item-content
	.adt-submenu-item-link
	.adt-submenu-item-title {
		margin-bottom: 0;
}

.adt-nav-item
	.adt-submenu-item-content
	.adt-submenu-item-link
	.adt-submenu-item-description {
		color: var(--color-neutral-8);
		font-weight: 400;
}

.adt-nav-item .adt-submenu-item-image {
	border-radius: var(--border-radius-xs);
	height: 94px;
	margin-right: 1rem;
	object-fit: cover;
	width: 94px;
}

.adt-nav-item .adt-submenu-item-preheader {
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	line-height: 1.25rem;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
}

.adt-nav-item .adt-submenu-section {
	-ms-flex-align: start;
	-webkit-align-items: start;
	-webkit-box-align: start;
	align-items: start;
	display: -ms-grid;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: min-content;
	grid-column-gap: 4rem;
	grid-row-gap: 2.5rem;
	list-style: none;
	padding: 2rem 0;
	width: 100%;
}

.adt-nav-item .adt-submenu-section.grey {
	background-color: var(--color-neutral-10, #282934);
	border-radius: var(--border-radius-sm);
	padding: 2rem 4rem;
}

.adt-nav-item .adt-submenu-section._3-section-span {
	-ms-grid-column-span: 3;
	grid-column-start: span 3;
}

.adt-nav-item .adt-submenu-section._3-section-span .adt-submenu-header {
	-ms-grid-column-span: 3;
	grid-column-start: span 3;
}

.adt-nav-item .adt-submenu-section._4-section-span {
	-ms-grid-column-span: 4;
	grid-column-start: span 4;
}

.adt-nav-item .adt-submenu-section._4-section-span .adt-submenu-header {
	-ms-grid-column-span: 4;
	grid-column-start: span 4;
}

.adt-nav-item .adt-submenu-section._5-section-span {
	-ms-grid-column-span: 5;
	grid-column-start: span 5;
}

.adt-nav-item .adt-submenu-section._5-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 5;
	-ms-grid-column-span: 5;
	grid-column-start: span 5;
}

.adt-nav-item .adt-submenu-section._6-section-span {
	-ms-grid-column-span: 6;
	grid-column-start: span 6;
}

.adt-nav-item .adt-submenu-section._6-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 6;
	-ms-grid-column-span: 6;
	grid-column-start: span 6;
}

.adt-nav-item .adt-submenu-section._7-section-span {
	-ms-grid-column-span: 7;
	grid-column-start: span 7;
}

.adt-nav-item .adt-submenu-section._7-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 7;
	-ms-grid-column-span: 7;
	grid-column-start: span 7;
}

.adt-nav-item .adt-submenu-section._8-section-span {
	-ms-grid-column-span: 8;
	grid-column-start: span 8;
}

.adt-nav-item .adt-submenu-section._8-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 8;
	-ms-grid-column-span: 8;
	grid-column-start: span 8;
}

.adt-nav-item .adt-submenu-section._9-section-span {
	-ms-grid-column-span: 9;
	grid-column-start: span 9;
}

.adt-nav-item .adt-submenu-section._9-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 9;
	-ms-grid-column-span: 9;
	grid-column-start: span 9;
}

.adt-nav-item .adt-submenu-section._10-section-span {
	-ms-grid-column-span: 10;
	grid-column-start: span 10;
}

.adt-nav-item .adt-submenu-section._10-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 10;
	-ms-grid-column-span: 10;
	grid-column-start: span 10;
}

.adt-nav-item .adt-submenu-section._11-section-span {
	-ms-grid-column-span: 11;
	grid-column-start: span 11;
}

.adt-nav-item .adt-submenu-section._11-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 11;
	-ms-grid-column-span: 11;
	grid-column-start: span 11;
}

.adt-nav-item .adt-submenu-section._12-section-span {
	-ms-grid-column-span: 12;
	grid-column-start: span 12;
}

.adt-nav-item .adt-submenu-section._12-section-span .adt-submenu-header {
	-ms-grid-column: 2 / span 12;
	-ms-grid-column-span: 12;
	grid-column-start: span 12;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-1 {
		grid-column-start: span 1;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-2 {
		grid-column-start: span 2;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-3 {
		grid-column-start: span 3;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-4 {
		grid-column-start: span 4;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-5 {
		grid-column-start: span 5;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-6 {
		grid-column-start: span 6;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-7 {
		grid-column-start: span 7;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-8 {
		grid-column-start: span 8;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-9 {
		grid-column-start: span 9;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-10 {
		grid-column-start: span 10;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-11 {
		grid-column-start: span 11;
}

.adt-nav-item
	.adt-submenu-section
	.adt-submenu-item-content.grid-column-span-12 {
		grid-column-start: span 12;
}

.adt-nav-title {
	font-weight: 600;
}

.cta-menu-hamburguer {
	display: none;
}

.dropdown-full .adt-nav-item {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 0 !important;
}

.dropdown-full .adt-nav-item .adt-nav-text {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.dropdown-full .dropdown-menu > .row {
	margin: 0 auto;
	max-width: var(--container-max-xl);
	padding: var(--spacer-4);
}

.dropdown-full.show .adt-nav-item {
	border-bottom: 1px solid white;
	border-radius: var(--border-radius-lg);
}

.dropdown-full.show .adt-nav-item .adt-nav-text .lexicon-icon {
	transform: rotate(180deg);
}

.dropdown-menu {
	border: none;
	border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15);
}

.dropdown-menu .row .dropdown-item-div {
	flex-basis: 25%;
}

.dropdown-menu .products-section.row .dropdown-item-div {
	flex-basis: 33%;
}

.dropdown-menu .row .dropdown-item-div .dropdown-item {
	border-radius: var(--border-radius-lg);
}

.dropdown-menu .row .dropdown-item-div .dropdown-item:hover {
	background: var(--color-action-primary-hover-10, #edf3fe);
}

.dropdown-menu .row .dropdown-item-div .dropdown-item:hover .title {
	color: var(--color-brand-primary-darken-1, #0053f0);
}

.dropdown-menu .row .dropdown-item-div .dropdown-item .icon {
	height: 32px;
	width: 32px;
}

.dropdown-menu .row .dropdown-item-div .dropdown-item .subtitle {
	color: var(--color-neutral-8, #54555f);
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.dropdown-menu .row .dropdown-item-div .dropdown-item .title {
	color: var(--color-neutral-10, #282934);
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
}

.has-control-menu .search-wrapper {
	padding-top: 8rem;
}

.has-control-menu nav.public-sites-navigation {
	margin-top: 3.5rem;
}

.has-control-menu.has-edit-mode-menu nav.public-sites-navigation {
	margin-top: 0;
	position: static;
}

.has-control-menu.has-edit-mode-menu .public-sites-navigation-padding {
	padding-top: 0;
}

.language-dropdown-list {
	padding: 10px !important;
}

.language-nav-item {
	.liferay-nav-item {
		border-radius: calc(var(--border-radius) / 2);
		color: var(--color-neutral-10, #282934);
		cursor: pointer;
		font-weight: 400 !important;
		margin: 0.25rem 0;
		outline: rgba(99, 153, 255, 0) solid 2px;
		outline-offset: 2px;
		padding: 0.75rem 0.75rem 0.75rem 3rem;
		transition: all 0.1slinear;
		width: 100%;

		&:hover, &:focus, &:focus-visible {
			background: var(--color-action-primary-hover-lighten, #EDF3FE);
			color: var(--color-action-primary-hover, #0053F0);
			outline: var(--color-brand-primary-lighten-2, #6399FF) solid 2px;
		}

		&.selected {
			color: var(--color-neutral-10, #282934) !important;
		}

		&.selected::before {
			content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMDI4NTUgMTMuNDIzN0M1Ljc2OTE4IDEzLjQyMzcgNS41MTYwNSAxMy4zMjA1IDUuMzMxNjggMTMuMTM2MkwxLjM5MTA1IDkuMTkyNDJDMC40NjkxNzkgOC4yMjY4IDEuOTU5OCA2LjkzOTMgMi43ODQ4IDcuNzk4NjdMNS45ODQ4IDExLjAwMThMMTMuMTcyMyAyLjkxMTE3QzE0LjAyMjMgMS45NTgwNSAxNS40OTQyIDMuMjcwNTUgMTQuNjQ0MiA0LjIyMDU1TDYuNzYyOTMgMTMuMDkyNEM2LjU4MTY4IDEzLjI5NTUgNi4zMjU0MyAxMy40MTQzIDYuMDU2NjggMTMuNDIzN0M2LjA0NzMgMTMuNDIzNyA2LjAzNzkzIDEzLjQyMzcgNi4wMjg1NSAxMy40MjM3WiIgZmlsbD0iIzZCNkM3RSIvPgo8L3N2Zz4K);
			left: 1rem;
			position: absolute;
			top: 18px;
		}
	}
}

.pbt-1 {
	padding-bottom: 0.5rem !important;
}

.plf-1 {
	padding-left: 0.5rem !important;
}

.prg-1 {
	padding-right: 0.5rem !important;
}

.public-sites-navigation-padding {
	padding-top: 7rem;
}

.search-account-container {
	padding-right: 12px;
}

.search-wrapper {
	align-items: center;
	background-color: var(--color-brand-primary-darken-5, #00256c);
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	bottom: auto;
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	padding: 3.5rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(0, -800px, 0);
	transform-style: preserve-3d;
	transition:
		transform 0.25s,
		opacity 0.25s;
	z-index: -2;
}

.search-wrapper.search-open {
	min-height: 80vh;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	z-index: 4;
}

.search-wrapper form.search {
	background-color: var(--color-brand-primary-lighten-1, #377cff);
	border-radius: var(--border-radius);
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	max-height: 3.5rem;
	position: relative;
	width: 30rem;
}

.search-wrapper form.search input.search-input {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	color: var(--white);
	font-size: 28px;
	font-weight: var(--font-weight-semi-bold);
	height: 3.5rem;
	line-height: 32px;
	margin-bottom: 0;
	outline: none;
	padding: 0.5rem 0.75rem;
}

.search-wrapper form.search input.search-input::placeholder {
	color: var(--color-brand-primary-lighten-4, #bbd2ff);
	opacity: 1;
}

.search-wrapper form.search input.search-input:active,
.search-wrapper form.search input.search-input:focus {
	border-color: var(--white);
}

.search-wrapper form.search input[type='search']::-ms-clear {
	display: none;
	height: 0;
	width: 0;
}

.search-wrapper form.search input[type='search']::-ms-reveal {
	display: none;
	height: 0;
	width: 0;
}

.search-wrapper form.search input[type='search']::-webkit-search-decoration,
.search-wrapper form.search input[type='search']::-webkit-search-cancel-button,
.search-wrapper form.search input[type='search']::-webkit-search-results-button,
.search-wrapper
	form.search
	input[type='search']::-webkit-search-results-decoration {
		display: none;
}

.search-wrapper form.search .search-submit {
	color: var(--white);
	position: absolute;
	right: 1.1rem;
	top: 1.1rem;
}

.search-wrapper form.search .search-submit svg {
	height: 1.5rem;
	width: 1.5rem;
}

.search-wrapper .suggestions {
	max-width: 480px;
}

.search-wrapper .suggestions.performing-search .no-results-message {
	display: block;
}

.search-wrapper .suggestions.performing-search .search-loading-animation {
	display: none;
}

.search-wrapper .suggestions.search-error .no-results-message,
.search-wrapper .suggestions.search-error .suggestions-default,
.search-wrapper .suggestions.search-error .search-loading-animation {
	display: none;
}

.search-wrapper .suggestions.search-error .search-error-message {
	display: block;
}

.search-wrapper .suggestions.search-results-found .no-results-message,
.search-wrapper .suggestions.search-results-found .suggestions-default,
.search-wrapper .suggestions.search-results-found .search-loading-animation {
	display: none;
}

.search-wrapper .suggestions.search-results-found .suggested-text {
	display: block;
}

.search-wrapper
	.suggestions.search-results-found
	.search-suggestions-see-all-results {
		display: table;
}

.search-wrapper .suggestions.loading-search .no-results-message,
.search-wrapper .suggestions.loading-search .suggestions-default,
.search-wrapper .suggestions.loading-search .suggested-text,
.search-wrapper .suggestions.loading-search .search-suggestions,
.search-wrapper .suggestions.loading-search .no-results-message,
.search-wrapper .suggestions.loading-search .search-error-message,
.search-wrapper
	.suggestions.loading-search
	.search-suggestions-see-all-results {
		display: none;
}

.search-wrapper .suggestions.loading-search .search-loading-animation {
	display: block;
}

.search-wrapper .suggestions .search-loading-animation {
	display: none;
}

.search-wrapper .suggestions .suggested-text {
	color: #fff;
	display: none;
	font-size: var(--text-small-caps-font-size);
	letter-spacing: 0.05em;
	opacity: 0.7;
	text-transform: uppercase;
}

.search-wrapper .suggestions .search-suggestion-item {
	background-color: var(--color-brand-primary-lighten-2, #6399ff);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	display: block;
	margin-bottom: 1.5rem;
	padding: 1rem;
	text-decoration: none;
	width: 100%;
}

.search-wrapper
	.suggestions
	.search-suggestion-item
	.search-suggestion-item-title {
		color: var(--white);
		font-size: var(--text-paragraph-font-size);
		font-weight: var(--font-weight-bold);
		padding-bottom: 4px;
}

.search-wrapper
	.suggestions
	.search-suggestion-item
	.search-suggestion-item-content {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		color: var(--white);
		display: -webkit-box;
		font-size: var(--text-paragraph-font-size);
		font-weight: 400;
		opacity: 0.9;
		overflow: hidden;
}

.search-wrapper
	.suggestions
	.search-suggestion-item
	.search-suggestion-item-content
	b {
		font-weight: var(--font-weight-bold);
}

.search-wrapper
	.suggestions
	.search-suggestion-item
	.search-suggestion-item-link {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		color: var(--white);
		font-size: var(--text-paragraph-sm-font-size);
		font-weight: var(--font-weight-semi-bold);
		opacity: 0.8;
		overflow: hidden;
		padding-top: 1rem;
}

.search-wrapper .suggestions .search-suggestion-item:hover {
	background-color: var(--color-brand-primary-lighten-3, #8fb5ff);
	border-color: var(--white);
}

.search-wrapper .suggestions .search-suggestions-see-all-results {
	background-color: var(--color-brand-primary-lighten-2, #6399ff);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	display: none;
	margin: 0 auto;
	padding: 0.5rem 1rem;
}

.search-wrapper
	.suggestions
	.search-suggestions-see-all-results
	.search-suggestions-see-all-results-text {
		color: var(--white);
		font-size: var(--text-paragraph-font-size);
		font-weight: var(--font-weight-semi-bold);
}

.search-wrapper
	.suggestions
	.search-suggestions-see-all-results
	.search-suggestions-see-all-results-arrow {
		color: var(--white);
}

.search-wrapper .suggestions .search-suggestions-see-all-results:hover {
	background-color: var(--color-brand-primary-lighten-3, #8fb5ff);
	border-color: var(--white);
}

.search-wrapper .close-search {
	background-color: var(--color-brand-primary-lighten-2, #6399ff);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	bottom: auto;
	cursor: pointer;
	display: flex;
	height: 2rem;
	left: auto;
	padding: 0.5rem;
	position: absolute;
	right: 3.5rem;
	top: 3.5rem;
	width: 2rem;
}

.search-wrapper .close-search svg {
	fill: var(--white);
	margin-top: 0;
}

.search-wrapper .close-search:hover {
	border-color: var(--white);
	opacity: 1;
}

.search-wrapper .no-results-message,
.search-wrapper .search-error-message {
	color: var(--white);
	display: none;
}

.utility-nav-container {
	text-align: -webkit-center;
	text-align: -moz-center;
}

.utility-nav-container .utility-nav {
	border-bottom: 1px solid var(--color-neutral-3);
}

.utility-nav-container .sites-languages-container {
	margin-left: calc(var(--spacer-2) * -1);
}

.utility-nav-container .search-account-container {
	margin-right: calc(var(--spacer-2) * -1);
}

a.sign-in > span {
	color: var(--color-neutral-10);
}

html body:not(.has-edit-mode-menu) .content #main-content.layout-content {
	margin-top: 3.5rem;
}

nav.public-sites-navigation {
	font-size: var(--font-size-base);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

nav.public-sites-navigation .utility-nav {
	max-height: 3rem;
}

nav.public-sites-navigation .primary-nav,
nav.public-sites-navigation .utility-nav {
	max-width: var(--container-max-xl);
}

nav.public-sites-navigation .primary-nav {
	background: var(--white);
	min-height: 4rem;
	padding-bottom: 0.375rem;
	padding-top: 0.375rem;
}

nav.public-sites-navigation.dark-nav {
	background-color: var(--color-brand-primary-darken-5, #00256c);
}

nav.public-sites-navigation.dark-nav .primary-nav,
nav.public-sites-navigation.dark-nav .primary-nav .close-btn,
nav.public-sites-navigation.dark-nav .primary-nav .menu-btn,
nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper {
	background-color: var(--color-brand-primary-darken-5, #00256c);
}

nav.public-sites-navigation.dark-nav .liferay-logo {
	color: var(--white);
}

nav.public-sites-navigation.dark-nav .svg-liferay-text,
nav.public-sites-navigation.dark-nav .svg-waffle {
	fill: var(--white);
}

nav.public-sites-navigation.dark-nav .menu-btn,
nav.public-sites-navigation.dark-nav .close-btn {
	border-color: var(--white);
}

nav.public-sites-navigation.dark-nav .menu-btn .menu-btn-text,
nav.public-sites-navigation.dark-nav .menu-btn .close-btn-text,
nav.public-sites-navigation.dark-nav .close-btn .menu-btn-text,
nav.public-sites-navigation.dark-nav .close-btn .close-btn-text {
	color: var(--white);
}

nav.public-sites-navigation.dark-nav .menu-btn svg,
nav.public-sites-navigation.dark-nav .close-btn svg {
	fill: var(--white);
}

nav.public-sites-navigation.dark-nav .menu-btn:hover,
nav.public-sites-navigation.dark-nav .menu-btn:active,
nav.public-sites-navigation.dark-nav .menu-btn:focus,
nav.public-sites-navigation.dark-nav .close-btn:hover,
nav.public-sites-navigation.dark-nav .close-btn:active,
nav.public-sites-navigation.dark-nav .close-btn:focus {
	outline: 1px solid var(--white);
	outline-offset: 2px;
}

nav.public-sites-navigation.dark-nav .utility-nav-container {
	background-color: var(--white);
}

nav.public-sites-navigation .language-selector-container .language-selector {
	color: var(--black);
	cursor: pointer;
	display: inline-block;
	padding-right: 0;
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector
	svg {
		margin-right: 0.25rem;
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector.list-open
	.language-caret-icon {
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector.list-open
	.language-selector-globe-icon,
nav.public-sites-navigation
	.language-selector-container
	.language-selector.list-open
	.language-caret-icon {
		opacity: 0.7;
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector:hover {
		background-color: var(--color-action-primary-hover-lighten);
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector:hover
	.language-selector-globe-icon,
nav.public-sites-navigation
	.language-selector-container
	.language-selector:hover
	.language-caret-icon {
		opacity: 1;
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector:hover,
nav.public-sites-navigation
	.language-selector-container
	.language-selector.list-open {
		color: var(--color-action-primary-hover, #0053f0);
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector:hover
	.language-selector-text,
nav.public-sites-navigation
	.language-selector-container
	.language-selector.list-open
	.language-selector-text {
		opacity: 1;
}

nav.public-sites-navigation
	.language-selector-container
	.language-selector:hover
	svg,
nav.public-sites-navigation
	.language-selector-container
	.language-selector.list-open
	svg {
		fill: var(--color-action-primary-hover, #edf3fe);
}

nav.public-sites-navigation .language-selector-container .utility-nav-link {
	border-radius: var(--border-radius-xs);
	color: var(--black);
	display: flex;
	font-weight: var(--font-weight-semi-bold);
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container {
		display: none;
		position: absolute;
		z-index: 3;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list {
		background-color: var(--white);
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		padding: 0.5rem 0.25rem 0;
		width: 15rem;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	ul {
		margin: 0;
		padding-inline-start: 0;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item {
		align-items: center;
		border-radius: var(--border-radius-xs);
		font-weight: var(--font-weight-semi-bold);
		text-align: left;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item
	.language-entry-long-text {
		color: var(--black);
		padding: 0.75rem 0.75rem 0.75rem 3rem;
		width: 100%;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item
	.language-entry-long-text:active,
nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item
	.language-entry-long-text:focus,
nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item
	.language-entry-long-text:hover {
		color: var(--black);
		text-decoration: none;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item.selected {
		padding-left: 0.25rem;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.language-nav-item.selected
	.language-entry-long-text {
		padding-left: 0;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.selected.language-nav-item:before {
	margin: 0 1rem;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container
	.language-dropdown-list
	.selected.language-nav-item
	.language-entry-long-text {
		padding-left: 1rem;
}

nav.public-sites-navigation
	.language-selector-container
	.language-dropdown-list-container.list-open {
		display: block;
}

nav.public-sites-navigation.light-nav {
	background-color: var(--white);
	color: var(--color-neutral-10, #282934);
}

nav.public-sites-navigation.light-nav .svg-liferay-text {
	fill: var(--color-neutral-10, #282934);
}

nav.public-sites-navigation.light-nav .svg-waffle {
	fill: var(--color-brand-primary);
}

nav.public-sites-navigation.light-nav .menu-btn,
nav.public-sites-navigation.light-nav .close-btn {
	border-color: var(--color-action-primary-default, #0b5fff);
}

nav.public-sites-navigation.light-nav .menu-btn .menu-btn-text,
nav.public-sites-navigation.light-nav .menu-btn .close-btn-text,
nav.public-sites-navigation.light-nav .close-btn .menu-btn-text,
nav.public-sites-navigation.light-nav .close-btn .close-btn-text {
	color: var(--color-action-primary-default, #0b5fff);
}

nav.public-sites-navigation.light-nav .menu-btn svg,
nav.public-sites-navigation.light-nav .close-btn svg {
	fill: var(--color-action-primary-default, #0b5fff);
}

nav.public-sites-navigation .account {
	cursor: pointer;
}

nav.public-sites-navigation .account .account-info {
	border-radius: var(--border-radius-sm);
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
}

nav.public-sites-navigation .account .account-info .user-icon {
	height: 1rem;
	margin-top: -5px;
	width: 1rem;
}

nav.public-sites-navigation .account .account-info:hover .user-icon,
nav.public-sites-navigation .account .account-info:hover .account-dropdown-icon,
nav.public-sites-navigation .account .account-info:hover .account-text,
nav.public-sites-navigation .account .account-info:focus .user-icon,
nav.public-sites-navigation .account .account-info:focus .account-dropdown-icon,
nav.public-sites-navigation .account .account-info:focus .account-text,
nav.public-sites-navigation .account .account-info.menu-open .user-icon,
nav.public-sites-navigation
	.account
	.account-info.menu-open
	.account-dropdown-icon,
nav.public-sites-navigation .account .account-info.menu-open .account-text {
	color: var(--color-action-primary-hover, #0053f0);
}

nav.public-sites-navigation .account .account-info:hover .account-text,
nav.public-sites-navigation .account .account-info:focus .account-text,
nav.public-sites-navigation .account .account-info.menu-open .account-text {
	opacity: 1;
}

nav.public-sites-navigation .account .account-info.menu-open .account-dropdown-nav {
	display: block;
}

nav.public-sites-navigation .account .account-info.menu-open .user-icon {
	opacity: 0.7;
}

nav.public-sites-navigation
	.account
	.account-info.menu-open
	.account-dropdown-icon {
	opacity: 0.7;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

nav.public-sites-navigation .account .account-info:hover,
nav.public-sites-navigation .account .account-info:focus {
	background-color: var(--color-action-primary-hover-lighten);
}

nav.public-sites-navigation .account .account-info:hover .user-icon,
nav.public-sites-navigation .account .account-info:hover .account-dropdown-icon,
nav.public-sites-navigation .account .account-info:focus .user-icon,
nav.public-sites-navigation
	.account
	.account-info:focus
	.account-dropdown-icon {
		opacity: 1;
}

nav.public-sites-navigation .account .account-info.mobile .dropdown-content {
	left: 0;
}

nav.public-sites-navigation .account .account-info .user-avatar {
	height: 2rem;
	width: 2rem;
}

nav.public-sites-navigation .account .account-info .user-avatar img {
	border-radius: 3.5rem;
	max-height: 100%;
	max-width: 100%;
}

nav.public-sites-navigation .sites-container .sites {
	border-radius: var(--border-radius-sm);
	color: var(--color-neutral-10, #282934);
	cursor: pointer;
	max-height: 2.5rem;
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
}

nav.public-sites-navigation .sites-container .sites.show .sites-icon {
	opacity: 0.7;
}

nav.public-sites-navigation .sites-container .sites.show .caret-bottom-icon {
	opacity: 0.7;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

nav.public-sites-navigation .sites-container .sites:hover {
	background-color: var(--color-action-primary-hover-lighten);
}

nav.public-sites-navigation .sites-container .sites:hover .caret-bottom-icon,
nav.public-sites-navigation .sites-container .sites:hover .sites-icon {
	opacity: 1;
}

nav.public-sites-navigation .sites-container .sites:hover .sites-icon svg,
nav.public-sites-navigation .sites-container .sites.show .sites-icon svg {
	fill: var(--color-action-primary-hover);
}

nav.public-sites-navigation .sites-container .sites:hover .liferay-sites,
nav.public-sites-navigation .sites-container .sites.show .liferay-sites {
	color: var(--color-action-primary-hover);
}

nav.public-sites-navigation
	.sites-container
	.sites:hover
	.liferay-sites
	.liferay-sites-text,
nav.public-sites-navigation
	.sites-container
	.sites.show
	.liferay-sites
	.liferay-sites-text {
		opacity: 1;
}

nav.public-sites-navigation .sites-container .liferay-sites-dropdown {
	background: var(--white);
	border-radius: var(--border-radius);
	display: none;
	margin-top: 2.75rem;
	position: absolute;
	text-align: -webkit-left;
	text-align: left;
	width: 15rem;
	z-index: 10;
}

nav.public-sites-navigation .sites-container .liferay-sites-dropdown.show {
	display: block;
}

nav.public-sites-navigation .skip-to-footer-wrapper,
nav.public-sites-navigation .skip-to-content-wrapper {
	background: var(--white);
	border-radius: var(--border-radius);
	left: -50%;
	padding: 0.25rem 0.75rem;
	position: absolute;
	top: 0.25rem;
	transform: translateX(-50%);
}

nav.public-sites-navigation .skip-to-footer-wrapper .skip-to-footer-text,
nav.public-sites-navigation .skip-to-footer-wrapper .skip-to-content-text,
nav.public-sites-navigation .skip-to-content-wrapper .skip-to-footer-text,
nav.public-sites-navigation .skip-to-content-wrapper .skip-to-content-text {
	color: var(--color-action-primary-active);
	font-weight: var(--font-weight-semi-bold);
	text-align: center;
	text-decoration: none;
}

nav.public-sites-navigation .skip-to-footer-wrapper:focus,
nav.public-sites-navigation .skip-to-content-wrapper:focus {
	left: 50%;
}

nav.public-sites-navigation .account-dropdown {
	background: var(--white);
	border: 1px solid var(--color-neutral-3);
	border-radius: var(--border-radius);
	color: var(--color-neutral-3);
	display: none;
	right: 0;
	top: 2.5rem;
	width: 15rem;
	z-index: 10;
}

nav.public-sites-navigation .account-dropdown-nav.show {
	display: block;
}

nav.public-sites-navigation .account-dropdown a {
	border-radius: var(--border-radius);
	color: var(--color-neutral-10);
}

nav.public-sites-navigation .account-dropdown a:hover,
nav.public-sites-navigation .account-dropdown a:active,
nav.public-sites-navigation .account-dropdown a:focus {
	background: var(--color-action-primary-hover-lighten);
}

nav.public-sites-navigation .account-dropdown-nav a:hover .settings-icon,
nav.public-sites-navigation .account-dropdown-nav a:active .settings-icon,
nav.public-sites-navigation .account-dropdown0nav a:focus .settings-icon {
	opacity: 1;
}

nav.public-sites-navigation .account-dropdown-nav .sign-out:hover,
nav.public-sites-navigation .account-dropdown-nav .sign-out:active,
nav.public-sites-navigation .account-dropdown-nav .sign-out:focus {
	background: var(--color-action-primary-hover-lighten);
	color: var(--color-action-primary-hover, #0053f0);
}

nav.public-sites-navigation .account-dropdown-nav .sign-out:hover .sign-out-icon,
nav.public-sites-navigation .account-dropdown-nav .sign-out:active .sign-out-icon,
nav.public-sites-navigation .account-dropdown-nav .sign-out:focus .sign-out-icon {
	opacity: 1;
}

nav.public-sites-navigation .account-dropdown-nav .sign-in {
	border-radius: var(--border-radius);
}

nav.public-sites-navigation .account-dropdown-nav .sign-in:hover,
nav.public-sites-navigation .account-dropdown-nav .sign-in:active,
nav.public-sites-navigation .account-dropdown-nav .sign-in:focus {
	background: var(--color-action-primary-hover-lighten);
	border-radius: var(--border-radius);
}

nav.public-sites-navigation .account-dropdown-nav .sign-in:hover .sign-in-icon,
nav.public-sites-navigation .account-dropdown-nav .sign-in:active .sign-in-icon,
nav.public-sites-navigation .account-dropdown-nav .sign-in:focus .sign-in-icon {
	opacity: 1;
}

nav.public-sites-navigation .btn-primary:hover,
nav.public-sites-navigation .btn-primary:active,
nav.public-sites-navigation .btn-primary:focus,
nav.public-sites-navigation .menu-btn:hover,
nav.public-sites-navigation .menu-btn:active,
nav.public-sites-navigation .menu-btn:focus,
nav.public-sites-navigation .close-btn:hover,
nav.public-sites-navigation .close-btn:active,
nav.public-sites-navigation .close-btn:focus {
	outline: 1px solid var(--color-action-primary-active-lighten);
	outline-offset: 2px;
}

nav.public-sites-navigation .btn-primary:hover,
nav.public-sites-navigation .btn-primary:active,
nav.public-sites-navigation .btn-primary:focus {
	background-color: var(--color-action-primary-hover, #0053f0);
}

nav.public-sites-navigation .lexicon-icon-caret-bottom-l {
	height: 1.5rem;
	padding-bottom: 0.1rem;
	width: 1.5rem;
}

nav.public-sites-navigation .cta-btn-nav,
nav.public-sites-navigation .close-btn,
nav.public-sites-navigation .menu-btn {
	padding: 0.5rem 1rem;
}

nav.public-sites-navigation .liferay-logo:hover,
nav.public-sites-navigation .liferay-logo .logo-text:hover {
	text-decoration: none;
}

nav.public-sites-navigation .menu-button-group .menu-btn {
	display: flex;
}

nav.public-sites-navigation .menu-button-group .close-btn {
	display: none;
}

nav.public-sites-navigation .menu-button-group.menu-open .menu-btn {
	display: none;
}

nav.public-sites-navigation .menu-button-group.menu-open .close-btn {
	display: flex;
}

nav.public-sites-navigation .search-account-container .search-icon,
nav.public-sites-navigation .search-account-container .question-icon {
	border-radius: var(--border-radius-sm);
	color: var(--body-color);
	cursor: pointer;
	padding: 0.75rem;
	text-decoration: none;
	transition-duration: 0.2s, 0.2s;
	transition-property: color, background-color;
	transition-timing-function: ease, ease;
}

nav.public-sites-navigation .search-account-container .search-icon:hover,
nav.public-sites-navigation .search-account-container .search-icon:focus,
nav.public-sites-navigation .search-account-container .search-icon:active,
nav.public-sites-navigation .search-account-container .question-icon:hover,
nav.public-sites-navigation .search-account-container .question-icon:focus,
nav.public-sites-navigation .search-account-container .question-icon:active {
	background-color: var(--color-action-primary-hover-lighten);
	opacity: 1;
}

nav.public-sites-navigation .search-account-container .search-icon:hover svg,
nav.public-sites-navigation .search-account-container .search-icon:focus svg,
nav.public-sites-navigation .search-account-container .search-icon:active svg,
nav.public-sites-navigation .search-account-container .question-icon:hover svg,
nav.public-sites-navigation .search-account-container .question-icon:focus svg,
nav.public-sites-navigation
	.search-account-container
	.question-icon:active
	svg {
		fill: var(--color-action-primary-hover, #0053f0);
}

nav.public-sites-navigation .nav-items-wrapper {
	align-items: stretch;
	background-color: var(--white);
}

nav.public-sites-navigation .opacity-30 {
	opacity: 0.3;
}

nav.public-sites-navigation .opacity-50 {
	opacity: 0.5;
}

nav.public-sites-navigation .opacity-70 {
	opacity: 0.7;
}

nav.public-sites-navigation .opacity-80 {
	opacity: 0.8;
}

nav.public-sites-navigation .primary-nav,
nav.public-sites-navigation .utility-nav {
	padding-left: var(--spacer-4);
	padding-right: var(--spacer-4);
}

nav.public-sites-navigation .menu-button-group {
	display: none;
}

@media (max-width: 1000px) {
	.btn.btn-nm.dropdown-fragment-toggle {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.cta-menu-hamburguer {
		align-items: center;
		display: flex;
		height: 100%;

		.cta-menu-hamburguer-content {
			align-items: center;
			background: var(--color-action-primary-inverted, #FFFFFF);
			border: 1px solid var(--color-action-primary-default, #0B5FFF);
			border-color: var(--color-action-primary-hover, #0053F0);
			border-radius: var(--border-radius);
			color: var(--color-action-primary-hover, #0053f0);
			display: flex;
			gap: 0.5rem;
			height: 2.5rem;
			justify-content: center;
			margin: 0;
			min-width: 7.5rem;
			outline: rgba(99, 153, 255, 0) solid 2px;
			outline-color: var(--color-brand-primary-lighten-2, #6399FF);
			outline-offset: 2px;
			padding: 0.5rem 1rem;
			transition: var(--transition-base);
			width: fit-content;

			.cta-menu-hamburguer.open .nav-items-menu-button-icon-line:nth-child(1) {
				transform: translateY(5px) rotate(45deg);
			}

			.cta-menu-hamburguer.open .nav-items-menu-button-icon-line:nth-child(2) {
				opacity: 0;
			}

			.cta-menu-hamburguer.open .nav-items-menu-button-icon-line:nth-child(3) {
				transform: translateY(-7px) rotate(-45deg);
			}

			.menu-button-text-close {
				display: none;
			}

			.nav-items-menu-button-icon {
				align-items: center;
				display: flex;
				flex-direction: column;
				gap: 0.25rem;
				justify-content: center;

				.nav-items-menu-button-icon-line {
					background: var(--color-action-primary-default, #0B5FFF);
					border-radius: var(--border-radius-circle);
					height: 0.125rem;
					transition: var(--transition-base);
					width: 17px;
				}
			}

			.nav-items-menu-button-icon-line {
				background-color: black;
				height: 4px;
				transition: transform 0.3s ease, opacity 0.3s ease;
				width: 30px;
			}
		}
	}

	.documentation-dropdown, .education-dropdown {
		background: var(--color-neutral-0, #FFFFFF);
		border-radius: 5px;
		color: var(--color-neutral-9, #3F404B);
		width: 100%;
	}

	.documentation-education-dropdown {
		background: var(--color-neutral-0, #FFFFFF);
		flex-direction: column !important;
		height: 100vh;
		justify-self: anchor-center;
		position: absolute;
		right: 10px;
		top: 100px;
		width: 100vw;
	}
}

@media (max-width: 1024px) {
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper {
		background-color: var(--white);
	}
}

@media (min-width: 1024px) {
	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item:hover
		.adt-nav-text,
	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item:focus
		.adt-nav-text {
			background-color: var(--color-action-primary-inverted-hover);
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item:hover
		.adt-nav-text
		.adt-nav-caret-bottom-icon {
			color: var(--white);
			opacity: 1;
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item.dropdown-open
		.adt-nav-text {
			background-color: transparent;
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item.dropdown-open
		.adt-nav-text
		.adt-nav-caret-bottom-icon {
			color: var(--white);
			opacity: 0.5;
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item:hover.dropdown-open
		.adt-nav-text
		.adt-nav-caret-bottom-icon {
			opacity: 1;
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-item
		.adt-nav-text:focus {
			background-color: var(--color-action-primary-inverted-hover);
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-text
		.adt-nav-title {
			color: var(--white);
	}

	nav.public-sites-navigation.dark-nav
		.primary-nav
		.nav-items-wrapper
		.adt-nav-caret-bottom-icon {
			color: transparent;
	}
}

@media screen and (max-width: var(--container-max-lg)) {
	nav.public-sites-navigation .primary-nav {
		padding-bottom: 0.75rem;
		padding-top: 0.75rem;
		z-index: auto;
	}

	nav.public-sites-navigation .nav-items-wrapper {
		display: flex;
		flex-direction: column;
		left: 0;
		position: absolute;
		right: 0;
		top: 7.2rem;
		transform: translate3d(0, -200%, 0) scale3d(1, 1, 1) rotateX(0deg)
			rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
		transform-style: preserve-3d;
	}

	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item {
		margin-left: 0;
	}

	nav.public-sites-navigation .nav-items-wrapper .adt-nav-text {
		justify-content: space-between;
		padding: 0.875rem 3rem;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	nav.public-sites-navigation
		.nav-items-wrapper
		.adt-nav-text
		.adt-nav-title {
			padding-left: 1rem;
	}

	nav.public-sites-navigation .menu-button-group {
		display: flex !important;
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	nav.public-sites-navigation .nav-items-wrapper {
		position: absolute;
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}

	nav.public-sites-navigation .nav-items-wrapper.menu-open {
		background-color: var(--white);
		height: 100vh;
		overflow: auto;
		top: 7.2rem;
		transform: translateY(0);
		visibility: visible;
		z-index: -1;
	}
}

@media (min-width: 600px) {
	nav.public-sites-navigation .cta-container-mobile {
		display: none;
	}
}

@media (max-width: 600px) {
	nav.public-sites-navigation .account-text {
		display: none;
	}

	nav.public-sites-navigation .nav-items-wrapper.menu-open {
		background-color: var(--white);
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		z-index: -1;
	}

	nav.public-sites-navigation .nav-items-wrapper .adt-nav-text {
		padding: 0.875rem 0.5rem;
	}

	nav.public-sites-navigation .nav-items-wrapper .cta-container-mobile {
		border-top: 1px solid var(--color-neutral-2);
		display: flex;
		padding: 0 1.5rem 10rem;
		width: 100%;
	}

	nav.public-sites-navigation .cta-btn-nav {
		display: none;
	}

	nav.public-sites-navigation .account.primary {
		display: none;
	}

	nav.public-sites-navigation .search-wrapper {
		-ms-overflow-style: none;
		border-radius: 0;
		bottom: 0;
		overflow-y: scroll;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 6rem;
		scrollbar-width: none;
	}

	nav.public-sites-navigation .search-wrapper::-webkit-scrollbar {
		display: none;
	}

	nav.public-sites-navigation .search-wrapper .close-search {
		right: 1.5rem;
		top: 1.5rem;
	}

	nav.public-sites-navigation .search-wrapper form.search {
		width: 100%;
	}

	nav.public-sites-navigation .search-wrapper .suggestions {
		max-width: none;
		width: 100%;
	}
}

@media (min-width: 1024px) {
	nav.public-sites-navigation.dark-nav
		.nav-items-wrapper
		.adt-nav-item
		.adt-nav-text::after {
			background: var(--white);
	}

	nav.public-sites-navigation .cta-btn-nav {
		margin-left: var(--spacer-3);
	}

	nav.public-sites-navigation .nav-items-wrapper {
		align-items: center;
		display: flex;
		margin-left: auto;
		padding: 0;
	}

	nav.public-sites-navigation
		.nav-items-wrapper
		.adt-nav-item.dropdown-open
		.adt-nav-text::after {
			left: 0;
			width: 100%;
	}

	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-nav-text {
		border-radius: var(--border-radius-xs);
		padding: 0;
	}

	nav.public-sites-navigation
		.nav-items-wrapper
		.adt-nav-item
		.adt-nav-text
		.adt-nav-title {
			cursor: pointer;
			padding: 0.875rem 0.25rem 0.875rem 1.125rem;
			position: relative;
	}

	nav.public-sites-navigation
		.nav-items-wrapper
		.adt-nav-item
		.adt-nav-text
		.adt-nav-title
		.adt-angle-down-svg {
			display: none;
	}

	nav.public-sites-navigation
		.nav-items-wrapper
		.adt-nav-item
		.adt-nav-text::after {
			background: var(--btn-link-hover-color);
			border-radius: 2px;
			bottom: -5px;
			content: '';
			height: 3px;
			left: 50%;
			position: absolute;
			transition: left ease-in 0.3s, width ease-in 0.3s;
			width: 0%;
	}

	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-submenu {
		border-radius: 0 0 0.5rem 0.5rem;
		padding-bottom: 1rem;
	}
}

@media (min-width: 600px) and (max-width: 1024px) {
	.adt-nav-item .adt-submenu {
		box-shadow: none;
		grid-row-gap: 0;
		height: auto;
		margin: 0;
		max-height: 0;
		opacity: 1;
		padding: 0;
		position: static;
		transform: none;
		transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
		visibility: visible;
	}

	.adt-nav-item
		.adt-submenu
		.adt-submenu-outer-wrapper
		.adt-submenu-inner-wrapper {
			display: flex;
			flex-direction: column;
	}

	.adt-nav-item .adt-submenu-section {
		grid-template-rows: none;
		padding: 2rem 4rem;
	}

	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-1,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-2,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-3,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-4,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-5,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-6,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-7,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-8,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-9,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-10,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-11,
	.adt-nav-item
		.adt-submenu-section
		.adt-submenu-item-content.grid-column-span-12 {
			grid-column-start: span 1;
	}

	.adt-nav-item .adt-submenu-section._3-section-span,
	.adt-nav-item .adt-submenu-section._4-section-span,
	.adt-nav-item .adt-submenu-section._5-section-span,
	.adt-nav-item .adt-submenu-section._6-section-span,
	.adt-nav-item .adt-submenu-section._7-section-span,
	.adt-nav-item .adt-submenu-section._8-section-span,
	.adt-nav-item .adt-submenu-section._9-section-span,
	.adt-nav-item .adt-submenu-section._10-section-span,
	.adt-nav-item .adt-submenu-section._11-section-span,
	.adt-nav-item .adt-submenu-section._12-section-span {
		-ms-grid-column-span: 2;
		grid-column-start: span 2;
	}

	.adt-nav-item .adt-submenu-section._3-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._4-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._5-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._6-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._7-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._8-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._9-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._10-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._11-section-span .adt-submenu-header,
	.adt-nav-item .adt-submenu-section._12-section-span .adt-submenu-header {
		-ms-grid-column-span: 2;
		grid-column-start: span 2;
	}

	.adt-navigation {
		background: var(--white);
		display: flex;
		flex-direction: column;
		height: calc(100vh - 120px - 4rem);
		overflow: auto;
	}

	.adt-navigation .adt-angle-down-svg {
		position: absolute;
		right: 1.5rem;
	}
}

@media (max-width: 600px) {
	.language-selector-text {
		display: none;
	}

	.nav-items-wrapper {
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}

	.nav-items-wrapper .adt-navigation {
		background: var(--white);
		display: flex;
		flex-direction: column;
		height: calc(100vh - 132px - 4rem);
		overflow: visible;
		width: 100vw;
	}

	.adt-nav-item .adt-submenu {
		box-shadow: none;
		grid-row-gap: 0;
		height: auto;
		margin: 0;
		max-height: 0;
		opacity: 1;
		overflow: hidden;
		padding: 0;
		position: static;
		transform: none;
		transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
		visibility: visible;
	}

	.adt-nav-item .adt-submenu .adt-nav-text {
		padding: 0.875rem 0.5rem;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	.adt-nav-item .adt-submenu .adt-nav-text .adt-nav-title {
		padding-left: 1rem;
	}

	.adt-nav-item
		.adt-submenu
		.adt-submenu-outer-wrapper
		.adt-submenu-inner-wrapper {
			display: flex;
			flex-direction: column;
	}

	.adt-nav-item .adt-submenu .adt-submenu-section {
		display: flex;
		flex-direction: column;
		grid-template-rows: none;
		padding-left: 1.5rem;
		padding-right: 2rem;
	}

	.adt-nav-item .adt-submenu-header {
		border-width: 0;
		margin-bottom: 0;
		padding-bottom: 1.5rem;
	}

	.adt-nav-item .adt-submenu-item-content {
		padding-bottom: 2.5rem;
	}

	.adt-nav-item .adt-submenu-item-content:not(.image-type) {
		border-left: solid 2px var(--color-neutral-2);
		max-width: none;
		padding-left: 1rem;
	}

	.adt-nav-item .adt-submenu-section {
		display: none;
		grid-row-gap: 0;
	}
}