.content-retriever-container {
	padding: 3rem 0;

	.content-retriever-url-field-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		input {
			margin-bottom: 0;
			width: 85%;
		}
	}
}
